/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    min-height: 1000px;
}

header > section{
    background-color: lightblue;
    height: 50px;
    display:flex;
    align-items: center;
    
}

nav{
    width: 50%;
    
}

main{
    min-height: 1000px;
}

footer{
    min-height: 1000px;
    
}


/* /GENERAL */

/* HEADER */
.menu, .jumbotron{
    margin: 0 auto;
}

.menu{
    background-color:lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    border: 1px solid black;
    min-height: 50%;
    line-height: 30px;
}

.logo{
    border: 1px solid black;
    width: 25%;
    padding-left: 10px;
}

nav ul{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    margin-right: 15px;
}

nav ul li:last-child{
    margin-right: 0;
  }

nav ul li a{
    text-decoration: none;
}

.login{
    border: 1px solid black;
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

.jumbotron{
    background-color: rgb(44, 51, 255);
    width: 100%;
    height: 100%;
    min-height: 1000px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron .text{
    height: 60%;
    min-height: 700px;
    width: 70%;
    background-color: red;
    border: 1px solid black;
}
/* /HEADER */

/* MAIN */
.layer{
    width: 100%;
    height: 100%;
    min-height: 1000px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer:nth-child(even){
    background-color: rgb(137, 0, 0);
    flex-direction: row-reverse;
} 

.content{
    height: 40%;
    min-height: 400px;
}

.content.special{
    background-color: orange;
    width: 20%;
    height: 50%;
    min-height: 700px;
    border: 1px solid black;
}

.large{
    background-color: rgb(79, 79, 255);
    width: 40%;
    border: 1px solid black;
}

.small{
    background-color: lightblue;
    width: 20%;
    border: 1px solid black;
}
/* /MAIN */

/* FOOTER */
.navigator{
    background-color: darkgray;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infobox{
    height: 90%;
    min-height: 200px;
    width: 25%;
    background-color: purple;
    border: 1px solid black;
}

.links{
    height: 90%;
    min-height: 200px;
    width: 10%;
    background-color: rgb(255, 0, 255);
    border: 1px solid black;
} 

.links ul{
    list-style: none;
}

.bar .footer{
    width: 60%;
    background-color: red;
}