*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    
    height: 1000px;
}

header > section{
    background-color: lightblue;
    height: 50px;
    display:flex;
    align-items: center;
    
}

nav{
    width: 50%;
    
}

.menu, .jumbotron{
    margin: 0 auto;
}

.menu{
    background-color:lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    border: 1px solid black;
    min-height: 50%;
    line-height: 30px;
}

.logo{
    border: 1px solid black;
    width: 25%;
    padding-left: 10px;
}

nav ul{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

nav ul li{
    list-style: none;
    margin-right: 15px;
}

nav ul li:last-child{
    margin-right: 0;
  }

nav ul li a{
    text-decoration: none;
}

.login{
    border: 1px solid black;
    width: 25%;
    text-align: right;
    padding-right: 10px;
}

.jumbotron{
    background-color: rgb(44, 51, 255);
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron .text{
    height: 60%;
    width: 80%;
    background-color: red;
    border: 1px solid black;

}
